{% extends "base.html" %}

{% block head %} {% endblock head %}


{% block body %}

    <div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>
				<span></span>
				<ul class="subnav">
                    {% for type in type_list %}

					    <li><a href="/typelist{{ type.id }}_1_0/" class="fruit">{{ type.ttitle }}</a></li>

                    {% endfor %}
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="/">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

    {% block right %} {% endblock right %}


{% endblock body %}