
{% extends "goods/base.html" %}

{% block head %}


	<script type="text/javascript">
    $(function () {

{#        购物车动画#}
        var $add_x = $('#add_cart').offset().top;
		var $add_y = $('#add_cart').offset().left;

		var $to_x = $('#show_count').offset().top;
		var $to_y = $('#show_count').offset().left;


		$('#add_cart').click(function(){
{#		    获取用户输入数量， 和购物车数量， 让其相加即可#}
            var left = $(".goods_left").val()
		    var num = parseInt($(".num_show").val());
		    var show_count = parseInt($("#show_count").text())
            var sum = num + show_count
		    $(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'});
			$(".add_jump").stop().animate({

				'left': $to_y+7,
				'top': $to_x+7},
				"fast", function() {

					$(".add_jump").fadeOut('fast',function(){

						if (sum > left){
						   sum = left;
						   alert("库存不足");
                        }
                        $('#show_count').html(sum);
                        $(".num_show").val(1);

{#                      发起ajax请求，把购物车信息传递给视图函数，需要放在animate的callback函数里面。#}
                        var goods_id = $("#goods_id").val();
                        var uname = $("#uname").val();
                        var num =   parseInt($(".num_show").val());
                        if(uname){
                           $.get("/cart/cart_handle/", {"uname": uname, "gid": goods_id, "num": num}, function(data){
                                    console.log(data.msg);
                           })
                        }else{
{#                            如果未登录，跳转到登录页面#}
                               window.location="/user/login/"
                            };

                    });
			});



		});

{#		商品数量，和总价函数#}
        $(".num_show").blur(function(){
            var num = parseInt($(".num_show").val());
            var left = $(".goods_left").val()
            if(num>left){
                num = left;
            }
            else if(num<1){
                num=1
            }
            else if(isNaN(num)){
                num=1
            }

            var sum = (num*{{ goods.gprice }}).toFixed(2);
            $(".num_show").val(num)
            $(".total em").text(sum + "元");

        })

        $(".add").click(function(){

            var num = parseInt($(".num_show").val());
            num++;
            $(".num_show").val(num).blur();
        })

        $(".minus").click(function(){
            var num = parseInt($(".num_show").val());
            num--;
            $(".num_show").val(num).blur();
        })
    })
	</script>


{% endblock head %}

{% block detail %}
	<div class="breadcrumb">
		<a href="/">全部分类</a>
		<span>></span>
		<a href="/typelist{{ gtype.id }}_1_0/">{{ gtype.ttitle }}</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>
    <input type="text" id="goods_id" value="{{ goods.id }}" style="display: none">
    <input type="text" id="uname" value="{{ request.session.uname }}" style="display: none">




	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/static/{{ goods.gpic }}"></div>

		<div class="goods_detail_list fr">
			<h3>{{ goods.gtitle }}</h3>
			<p>{{ goods.gsubtitle }}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{ goods.gprice }}</em></span>
				<span class="show_unit">单  位：{{ goods.gunit }}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>
                    <input type="text" class="goods_left" value="{{ goods.gleft }}" style="display: none">
				</div> 
			</div>
			<div class="total">总价：<em>{{ goods.gprice }}元</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>				
			</div>
		</div>
	</div>




	{% endblock detail %}



	{% block right %}
        <div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{ goods.gcontent|safe }}</dd>
				</dl>
			</div>

		</div>
    <div class="add_jump"></div>
	{% endblock right %}



