{% extends "base.html" %}

    {% block head %}

    <script>

        $(function () {

            var name_err = false;
            var pwd_err = false;

           $(".name_input").blur(function(){
                fnname_check();
               }
           );


             $(".pass_input").blur(function () {

                fnpwd_check();

           });


            function fnname_check(){
               var name_len = $(".name_input").val().length;
               if(name_len<5 || name_len>20){
                   $(".user_error").html('请输入5-20个字符的用户名').show();
                   name_err = true;

               }else{
                   $(".user_error").html('').hide();
                   name_err = false;
               }

            }



            function fnpwd_check(){
                var pwd_len = $(".pass_input").val().length;
                if(pwd_len<8 || pwd_len>20){

                   $(".pwd_error").html('密码最少8位，最长20位').show();

                   pwd_err = true;

                }else{
                   $(".pwd_error").html('').hide();
                   pwd_err = false;


                }
            }


            $("form").submit(function(){
                fnname_check();
                 fnpwd_check();
                if(pwd_err==false && name_err==false){
                    return true;
                }
                else{
                    return false;
                }
            })


           $(".name_input").focus(function(){
                $(".user_error").html('');
               }
           );


             $(".pass_input").focus(function () {
                $(".pwd_error").html('');
           });



        });



    </script>

    {% endblock head %}


{% block body %}

	<div class="login_top clearfix">
		<a href="../goods/index.html" class="login_logo"><img src="/static/images/logo02.png"></a>
	</div>

	<div class="login_form_bg">
		<div class="login_form_wrap clearfix">
			<div class="login_banner fl"></div>
			<div class="slogan fl">日夜兼程 · 急速送达</div>
			<div class="login_form fr">
				<div class="login_title clearfix">
					<h1>用户登录</h1>
					<a href="/user/register/">立即注册</a>
				</div>
				<div class="form_input">
					<form method="post" action="/user/login_handle/">
                        {% csrf_token %}
{#                        <input type="hidden" name="csrfmiddlewdaretoken" value="wtbzL4k9ITLCJ6IQFEmXCr8kJIFBH9xc">#}
                       <input type="text" name="name" class="name_input" placeholder="请输入用户名" value="{{ name }}"  >

                        <div class="user_error">{{ user_error|default:"" }}</div>
					    <input type="password" name="pwd" class="pass_input" placeholder="请输入密码" value="{{ pwd }}" >


                        <div class="pwd_error">{{ pwd_error|default:"" }}</div>
						<div class="more_input clearfix">
							<input type="checkbox" name="remember" checked="checked" value="1">
							<label>记住用户名</label>
							<a href="#">忘记密码</a>
						</div>
						<input type="submit" name="" value="登录" class="input_submit">
					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock body %}


